    /*
    Theme Name:     Encontre Directory
    Theme URI:      
    Description:    
    Author:         Alan Tygel
    Author URI:     
    Template:       directory
    Version:        1.0
    */

@import url("../directory/style.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);


@font-face {
    font-family: 'durselinvenice2015regular';
    src: url('durselinvenice2015-webfont.eot');
    src: url('durselinvenice2015-webfont.eot?#iefix') format('embedded-opentype'), 
         url('durselinvenice2015-webfont.woff2') format('woff2'),
         url('durselinvenice2015-webfont.woff') format('woff'),
         url('durselinvenice2015-webfont.ttf') format('truetype'),
         url('durselinvenice2015-webfont.svg#durselinvenice2015regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#branding{
    background: #FFF url("banner_encontre2.png") repeat scroll 50% 50%;
}

#logo{
    margin-left: 35%;
}

#logo a {
    font-family: "durselinvenice2015regular";
    font-size: 5em;
    color: white;
}

#tagLineHolder {
background: #153D35 url("logo_top.png") no-repeat scroll 125px 5px;
padding: 1px 0px;
height: 38px;
}

.top_menu{
    color: #7CD773;
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    left: 110px;
    position: absolute;
}

.top_menu a{
    color: white;
}

.top_menu > li {
    position: relative;
    display: block;
    float: left;
    padding: 10px;
}
}
